HtmlBuilder/Web References/com.bitauto.baa.api2/impressionservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetLastestImpressionListBySerialId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="serialId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pageIndex" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pageSize" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLastestImpressionListBySerialIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLastestImpressionListBySerialIdResult" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="recordCount" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ApiSoapHeader" type="tns:ApiSoapHeader" />
      <s:complexType name="ApiSoapHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AppKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AppPwd" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="GetImpressionListBySerialId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="serialId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="yuYi" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pageIndex" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pageSize" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetImpressionListBySerialIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetImpressionListBySerialIdResult" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="recordCount" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetLastestImpressionListBySerialIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetLastestImpressionListBySerialId" />
  </wsdl:message>
  <wsdl:message name="GetLastestImpressionListBySerialIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetLastestImpressionListBySerialIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetLastestImpressionListBySerialIdApiSoapHeader">
    <wsdl:part name="ApiSoapHeader" element="tns:ApiSoapHeader" />
  </wsdl:message>
  <wsdl:message name="GetImpressionListBySerialIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetImpressionListBySerialId" />
  </wsdl:message>
  <wsdl:message name="GetImpressionListBySerialIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetImpressionListBySerialIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetImpressionListBySerialIdApiSoapHeader">
    <wsdl:part name="ApiSoapHeader" element="tns:ApiSoapHeader" />
  </wsdl:message>
  <wsdl:portType name="impressionServiceSoap">
    <wsdl:operation name="GetLastestImpressionListBySerialId">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据子品牌分页获取最新印象</wsdl:documentation>
      <wsdl:input message="tns:GetLastestImpressionListBySerialIdSoapIn" />
      <wsdl:output message="tns:GetLastestImpressionListBySerialIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetImpressionListBySerialId">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据子品牌及语义分页获取印象并按照投票数从大到小排列</wsdl:documentation>
      <wsdl:input message="tns:GetImpressionListBySerialIdSoapIn" />
      <wsdl:output message="tns:GetImpressionListBySerialIdSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="impressionServiceSoap" type="tns:impressionServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLastestImpressionListBySerialId">
      <soap:operation soapAction="http://tempuri.org/GetLastestImpressionListBySerialId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetLastestImpressionListBySerialIdApiSoapHeader" part="ApiSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImpressionListBySerialId">
      <soap:operation soapAction="http://tempuri.org/GetImpressionListBySerialId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetImpressionListBySerialIdApiSoapHeader" part="ApiSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="impressionServiceSoap12" type="tns:impressionServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLastestImpressionListBySerialId">
      <soap12:operation soapAction="http://tempuri.org/GetLastestImpressionListBySerialId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetLastestImpressionListBySerialIdApiSoapHeader" part="ApiSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImpressionListBySerialId">
      <soap12:operation soapAction="http://tempuri.org/GetImpressionListBySerialId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetImpressionListBySerialIdApiSoapHeader" part="ApiSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="impressionService">
    <wsdl:port name="impressionServiceSoap" binding="tns:impressionServiceSoap">
      <soap:address location="http://api.baa.bitauto.com/koubei/impression/impressionservice.asmx" />
    </wsdl:port>
    <wsdl:port name="impressionServiceSoap12" binding="tns:impressionServiceSoap12">
      <soap12:address location="http://api.baa.bitauto.com/koubei/impression/impressionservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>