HtmlBuilder/Service References/DataCenter.WCF/DataProvide.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DataProvide" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IDataProvide_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://data.baa.bitauto.com/DataProvide.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://data.baa.bitauto.com/DataProvide.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://data.baa.bitauto.com/DataProvide.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDataProvide_SetUserData_InputMessage">
    <wsdl:part name="parameters" element="tns:SetUserData" />
  </wsdl:message>
  <wsdl:message name="IDataProvide_SetUserData_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetUserDataResponse" />
  </wsdl:message>
  <wsdl:message name="IDataProvide_SetUserDataBatch_InputMessage">
    <wsdl:part name="parameters" element="tns:SetUserDataBatch" />
  </wsdl:message>
  <wsdl:message name="IDataProvide_SetUserDataBatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetUserDataBatchResponse" />
  </wsdl:message>
  <wsdl:message name="IDataProvide_GetUserData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserData" />
  </wsdl:message>
  <wsdl:message name="IDataProvide_GetUserData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserDataResponse" />
  </wsdl:message>
  <wsdl:message name="IDataProvide_RemoveUserData_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUserData" />
  </wsdl:message>
  <wsdl:message name="IDataProvide_RemoveUserData_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUserDataResponse" />
  </wsdl:message>
  <wsdl:message name="IDataProvide_GetForumDataByCity_InputMessage">
    <wsdl:part name="parameters" element="tns:GetForumDataByCity" />
  </wsdl:message>
  <wsdl:message name="IDataProvide_GetForumDataByCity_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetForumDataByCityResponse" />
  </wsdl:message>
  <wsdl:message name="IDataProvide_GetForumDataByProvince_InputMessage">
    <wsdl:part name="parameters" element="tns:GetForumDataByProvince" />
  </wsdl:message>
  <wsdl:message name="IDataProvide_GetForumDataByProvince_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetForumDataByProvinceResponse" />
  </wsdl:message>
  <wsdl:message name="IDataProvide_GetForumDataBySerial_InputMessage">
    <wsdl:part name="parameters" element="tns:GetForumDataBySerial" />
  </wsdl:message>
  <wsdl:message name="IDataProvide_GetForumDataBySerial_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetForumDataBySerialResponse" />
  </wsdl:message>
  <wsdl:portType name="IDataProvide">
    <wsdl:operation name="SetUserData">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataProvide/SetUserData" message="tns:IDataProvide_SetUserData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataProvide/SetUserDataResponse" message="tns:IDataProvide_SetUserData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetUserDataBatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataProvide/SetUserDataBatch" message="tns:IDataProvide_SetUserDataBatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataProvide/SetUserDataBatchResponse" message="tns:IDataProvide_SetUserDataBatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserData">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataProvide/GetUserData" message="tns:IDataProvide_GetUserData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataProvide/GetUserDataResponse" message="tns:IDataProvide_GetUserData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveUserData">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataProvide/RemoveUserData" message="tns:IDataProvide_RemoveUserData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataProvide/RemoveUserDataResponse" message="tns:IDataProvide_RemoveUserData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetForumDataByCity">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataProvide/GetForumDataByCity" message="tns:IDataProvide_GetForumDataByCity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataProvide/GetForumDataByCityResponse" message="tns:IDataProvide_GetForumDataByCity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetForumDataByProvince">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataProvide/GetForumDataByProvince" message="tns:IDataProvide_GetForumDataByProvince_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataProvide/GetForumDataByProvinceResponse" message="tns:IDataProvide_GetForumDataByProvince_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetForumDataBySerial">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataProvide/GetForumDataBySerial" message="tns:IDataProvide_GetForumDataBySerial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataProvide/GetForumDataBySerialResponse" message="tns:IDataProvide_GetForumDataBySerial_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IDataProvide" type="tns:IDataProvide">
    <wsp:PolicyReference URI="#WSHttpBinding_IDataProvide_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetUserData">
      <soap12:operation soapAction="http://tempuri.org/IDataProvide/SetUserData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUserDataBatch">
      <soap12:operation soapAction="http://tempuri.org/IDataProvide/SetUserDataBatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserData">
      <soap12:operation soapAction="http://tempuri.org/IDataProvide/GetUserData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveUserData">
      <soap12:operation soapAction="http://tempuri.org/IDataProvide/RemoveUserData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetForumDataByCity">
      <soap12:operation soapAction="http://tempuri.org/IDataProvide/GetForumDataByCity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetForumDataByProvince">
      <soap12:operation soapAction="http://tempuri.org/IDataProvide/GetForumDataByProvince" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetForumDataBySerial">
      <soap12:operation soapAction="http://tempuri.org/IDataProvide/GetForumDataBySerial" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataProvide">
    <wsdl:port name="WSHttpBinding_IDataProvide" binding="tns:WSHttpBinding_IDataProvide">
      <soap12:address location="http://data.baa.bitauto.com/DataProvide.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://data.baa.bitauto.com/DataProvide.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>