DataProcesser/Web References/com.bitauto.baa.api/userCarService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetUserCarTopicList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="serialId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="carId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="categoryPinYin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wordName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pageIndex" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pageSize" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserCarTopicListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserCarTopicListResult" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="recordCount" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ApiSoapHeader" type="tns:ApiSoapHeader" />
      <s:complexType name="ApiSoapHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AppKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AppPwd" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetUserCarTopicListSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserCarTopicList" />
  </wsdl:message>
  <wsdl:message name="GetUserCarTopicListSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserCarTopicListResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserCarTopicListApiSoapHeader">
    <wsdl:part name="ApiSoapHeader" element="tns:ApiSoapHeader" />
  </wsdl:message>
  <wsdl:portType name="userCarServiceSoap">
    <wsdl:operation name="GetUserCarTopicList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取口碑列表</wsdl:documentation>
      <wsdl:input message="tns:GetUserCarTopicListSoapIn" />
      <wsdl:output message="tns:GetUserCarTopicListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="userCarServiceSoap" type="tns:userCarServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUserCarTopicList">
      <soap:operation soapAction="http://tempuri.org/GetUserCarTopicList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetUserCarTopicListApiSoapHeader" part="ApiSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="userCarServiceSoap12" type="tns:userCarServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUserCarTopicList">
      <soap12:operation soapAction="http://tempuri.org/GetUserCarTopicList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetUserCarTopicListApiSoapHeader" part="ApiSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="userCarService">
    <wsdl:port name="userCarServiceSoap" binding="tns:userCarServiceSoap">
      <soap:address location="http://api.baa.bitauto.com/koubei/usercar/userCarService.asmx" />
    </wsdl:port>
    <wsdl:port name="userCarServiceSoap12" binding="tns:userCarServiceSoap12">
      <soap12:address location="http://api.baa.bitauto.com/koubei/usercar/userCarService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>