WebServiceBusiness/WebServiceBLL/Web References/com.bitauto.mai.api.maiservice/MaiService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetGoodsInfByGUID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="guid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGoodsInfByGUIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGoodsInfByGUIDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetGoodsInfByGUIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetGoodsInfByGUID" />
  </wsdl:message>
  <wsdl:message name="GetGoodsInfByGUIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetGoodsInfByGUIDResponse" />
  </wsdl:message>
  <wsdl:portType name="MaiServiceSoap">
    <wsdl:operation name="GetGoodsInfByGUID">
      <wsdl:input message="tns:GetGoodsInfByGUIDSoapIn" />
      <wsdl:output message="tns:GetGoodsInfByGUIDSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MaiServiceSoap" type="tns:MaiServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetGoodsInfByGUID">
      <soap:operation soapAction="http://tempuri.org/GetGoodsInfByGUID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MaiServiceSoap12" type="tns:MaiServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetGoodsInfByGUID">
      <soap12:operation soapAction="http://tempuri.org/GetGoodsInfByGUID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MaiService">
    <wsdl:port name="MaiServiceSoap" binding="tns:MaiServiceSoap">
      <soap:address location="http://mai.bitauto.com/api/MaiService.asmx" />
    </wsdl:port>
    <wsdl:port name="MaiServiceSoap12" binding="tns:MaiServiceSoap12">
      <soap12:address location="http://mai.bitauto.com/api/MaiService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>