HtmlBuilder/Web References/com.bitauto.baa.api1/carservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetTrimRating">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="serialId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTrimRatingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTrimRatingResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ApiSoapHeader" type="tns:ApiSoapHeader" />
      <s:complexType name="ApiSoapHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AppKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AppPwd" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetTrimRatingSoapIn">
    <wsdl:part name="parameters" element="tns:GetTrimRating" />
  </wsdl:message>
  <wsdl:message name="GetTrimRatingSoapOut">
    <wsdl:part name="parameters" element="tns:GetTrimRatingResponse" />
  </wsdl:message>
  <wsdl:message name="GetTrimRatingApiSoapHeader">
    <wsdl:part name="ApiSoapHeader" element="tns:ApiSoapHeader" />
  </wsdl:message>
  <wsdl:portType name="carServiceSoap">
    <wsdl:operation name="GetTrimRating">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">通过子品牌获取车款评分及口碑数</wsdl:documentation>
      <wsdl:input message="tns:GetTrimRatingSoapIn" />
      <wsdl:output message="tns:GetTrimRatingSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="carServiceSoap" type="tns:carServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTrimRating">
      <soap:operation soapAction="http://tempuri.org/GetTrimRating" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetTrimRatingApiSoapHeader" part="ApiSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="carServiceSoap12" type="tns:carServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTrimRating">
      <soap12:operation soapAction="http://tempuri.org/GetTrimRating" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetTrimRatingApiSoapHeader" part="ApiSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="carService">
    <wsdl:port name="carServiceSoap" binding="tns:carServiceSoap">
      <soap:address location="http://api.baa.bitauto.com/koubei/car/carservice.asmx" />
    </wsdl:port>
    <wsdl:port name="carServiceSoap12" binding="tns:carServiceSoap12">
      <soap12:address location="http://api.baa.bitauto.com/koubei/car/carservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>